out/
tmp/
*.tgz
*.zip

# ide files
.project
.settings
.idea/
/.vscode
*.iml

# node specific files
node_modules/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log

# mac files
.DS_Store

.tool-versions

# instanbul code coverage…
.nyc_output/
coverage/
/examples/tmp-docs
junit/
test/fixtures/cyclic-out/
