out/
junit

# ide files
.project
.settings
.idea/
*.iml

# node specific files
node_modules/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log

# mac files
.DS_Store

.tool-versions

# instanbul code coverage…
coverage
/examples/tmp-docs
.nyc_output