.translation_mtwidget_main_box{
    padding-top: 10px;
    font-family: "adobe-clean", sans-serif;
    text-align: center;
    padding-bottom: 10px;
    background-color: #e4f1f9;
    color: black;
}

.translation_mtwidget_main_box .bold_box{
    font-size: 20px;
}
.translation_mtwidget_main_box .translation-feedback-done-box{
    display: none;
}

.word-nobreak {
    display: inline-block;
}
.colCtrlGrey{background-color:#CCC;color:#7F7F7F}.colCtrlGrey .border-rt,.colCtrlGrey hr{border-color:#FFF}.colCtrlMobileGrey{background-color:#F7F8Fa;color:#999}.colCtrlMobileGrey h1,.colCtrlMobileGrey h2,.colCtrlMobileGrey h3,.colCtrlMobileGrey h4,.colCtrlMobileGrey h5,.colCtrlMobileGrey h6{color:#3F4C56}.colCtrlBlack{background-color:#000;color:#AAA}.colCtrlBlack .border-rt,.colCtrlBlack hr{border-color:#DDD}.colCtrlMobileBlack{background-color:#191E22;color:#FFF}.colCtrlDarkGray{background-color:#444;color:#FFF}.colCtrlMediumGray{background-color:#CCC;color:#999}.colCtrlLightGrayCool{background-color:#F7F8Fa;color:#3F4C56}.colCtrlLightGrayWarm{background-color:#f5f5f5;color:#000}.colCtrlTurquoise{background-color:#2b9af3;color:#FFF}.colCtrlInkSlide{background-color:#e4e4e4;color:#333}
